@media only screen and (min-width: 1800px) and (max-width: 1930px) {
  
.banner {
  top: -10%;
  left: -9%;
}

.cardOne_front, .cardOne_side {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 15%;
  height: 30%;
}
  
}

@media only screen and (max-width: 1255px) {

.banner {
  font-size: 3em;
  top: -15%;
  left: 13.2%;
}
  
}

@media only screen and (max-width: 985px) {

.banner {
  font-size: 2em;
  top: 5.4%;
  left: 20.6%;
}
  
}

@media only screen and (max-width: 767px) {

.banner {
  top: -10%;
}

}

@media only screen and (min-width: 412px) and (max-width: 480px) {
  
  .navigation {
  height: 100%;
}

.phone_nav {
  visibility: visible;
  opacity: 1;
}

.cards, .home, .links {
  opacity: 0;
  visibility: hidden;
}

.info, .reference {
  width: 70%;
}
  
.info h2, .reference h2 {
  font-size: 0.95em;
}
  
.info p {
  font-size: 0.8em;
}

#planet {
  position: relative; top: 70px;
}

#galaxy {
  position: relative; top: 60px;
}

#planet p {
  font-size: 0.7em;
}

#galaxy p {
  font-size: 0.68em;
}
  
.solar_system {
  height: 35%;
  width: 40%;
}

.milky_way {
  height: 25%;
  width: 25%;
}
  
.reference {
  position: relative; top: 60px;
}
  
.reference a {
  font-size: 0.6em;
}
  
.home, .links {
  font-size: 0.8em;
}

.links {
  top: -50%;
}
  
.banner {
  font-size: 1em;
  top: -2%;
  left: 15%;
}

.info {
  width: 70%;
  position: relative; top: 100px;
}
  
.reference {
  width: 70%;
  position: relative; top: 100px;
  margin: auto;
  text-align: center;
}

.sources, .image_sources {
  text-align: center;
  list-style: none;
}

.playButton {
  position: relative; top: 450px; left: -200px;
}

}