@media only screen and (min-width: 1800px) and (max-width: 1930px) {
  
.banner {
  top: -10%;
  left: -9%;
}

.cardOne_front, .cardOne_side {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 15%;
  height: 30%;
}
  
}

@media only screen and (max-width: 1255px) {

.banner {
  font-size: 3em;
  top: -15%;
  left: 13.2%;
}
  
}

@media only screen and (max-width: 985px) {

.banner {
  font-size: 2em;
  top: 5.4%;
  left: 20.6%;
}
  
}

@media only screen and (max-width: 767px) {

.banner {
  top: -10%;
}

}

@media only screen and (min-width: 412px) and  (max-width: 480px) {

.navigation {
  height: 100%;
}

.phone_nav {
  visibility: visible;
  opacity: 1;
}

.cards, .home, .links {
  opacity: 0;
  visibility: hidden;
}
  
p {
  font-size: 0.45em;
}
  
.home, .links {
  font-size: 0.8em;
}

.links {
  top: -50%;
}
  
.banner {
  font-size: 1em;
  top: -2%;
  left: 15%;
}

.reference {
  width: 70%;
  position: relative; top: 100px;
  margin: auto;
  text-align: center;
}

.sources, .image_sources {
  text-align: center;
}

}